<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:
     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/woff2"/>
      <remove fileExtension=".ico"/>
      <mimeMap fileExtension=".ico" mimeType="application/ico"/>
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET,DELETE,PUT,HEAD,TRACE"/>
				<add name="Access-Control-Allow-Headers" value="X-Requested-With"/>
				<add name="Access-Control-Allow-Origin" value="*,http://opensource.zealink.com" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>